.navbar {
    width: 100%;
    z-index: 200;
    display: flex;
    padding: 16px 120px;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 ;
    box-sizing: border-box;
    background-color: rgba(18, 24, 41, 0.98);
}

.navbar__brand {
    box-sizing: border-box;
    font-weight: 700;
    font-size: 24px;
    color: rgb(124, 110, 246);
    text-decoration: none;
}

.navbar__links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar__link {
    display: inline-block;
    padding: 8px 16px;
    color: rgb(118, 126, 148);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    margin-left: 16px;
    transition: color 0.3s;
}

.navbar__link:hover {
    color: rgb(255, 173, 73);
}

.navbar__icon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: rgb(118, 126, 148);
    margin-left: 8px;
}

.navbar__button {
    display: none; /* Hide button on desktop view */
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    margin-left: 8px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .navbar__button {
        display: inline-block; /* Show button on mobile view */
    }
    
    .navbar__links {
        display: none; /* Hide links on mobile view */
        flex-direction: column; /* Stack links vertically */
        position: absolute;
        top: 60px; /* Adjust based on navbar height */
        right: 0;
        background-color: rgba(18, 24, 41, 0.98);
        padding: 16px;
        border-radius: 8px;
        width: 200px;
    }

    .navbar__links.active {
        display: flex; /* Show links when the button is active */
    }
}