<nav class="navbar">
 
  <a href="#" class="navbar__brand"><i class="fas fa-film"></i>   BLOCKBUSTER</a>
  <div class="navbar__links">
    <span class="navbar__link"> Wael Dridi</span>
      <a href="https://github.com/Waelxz" target="_blank" class="navbar__link">
        <i class="fab fa-github"></i><!-- GitHub Icon -->
          GitHub
      </a>
      <a href="https://www.linkedin.com/in/dridiwael/" target="_blank" class="navbar__link">
        <i class="fab fa-linkedin"></i> <!-- LinkedIn Icon -->
          LinkedIn
      </a>
  </div>
  <button class="navbar__button">☰</button> <!-- Hamburger menu for mobile -->
</nav>
